_old/
_old_qt/
archive/
data/
docs/
gfx_orig/
gfx_2x/
gfx_2x_nearestneighbour/
gfx_android_extras/
gfxsource/
ipch/
islands/
music/
pics/
sound/
Debug/
Release/
CreateScaledGfx-build-*/
newgfx/
android_qt/

*.dll
*.lib
*.exe
*.opt
*.plg
*.suo
*.vcproj.*
*.vcxproj.*
*.sdf
*.opensdf
*.db

*.ico
*.ogg
*.svg

gpl.txt
