_old/
archive/
data/
docs/
gfx_orig/
gfx/
gfx_2x/
gfx_android_extras/
gfxsource/
ipch/
islands/
music/
pics/
sound/
Debug/
Release/

*.dll
*.lib
*.exe
*.opt
*.plg
*.suo
*.vcproj.*
*.vcxproj.*
*.sdf
*.opensdf
*.db

*.ico
*.ogg
*.png
*.jpg
*.svg

gpl.txt
