_old/
archive/
docs/
gfx/
gfx_2x/
gfxsource/
ipch/
islands/
music/
pics/
sound/
Debug/
Release/

*.dll
*.lib
*.exe
*.opt
*.plg
*.suo
*.vcproj.*
*.vcxproj.*
*.sdf
*.opensdf

*.svg
*.png
*.ogg

gpl.txt
