Source: gigalomania
Section: games
Priority: optional
Maintainer: Mark Harman <mark.harman@ntlworld.com>
Standards-Version: 3.8.3.0
Build-Depends: debhelper (>=7), libsdl2-dev, libsdl2-image-dev, libsdl2-mixer-dev
Homepage: http://homepage.ntlworld.com/mark.harman/comp_gigalomania.html

Package: gigalomania
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: 2D Real Time Strategy game
 The gameplay consists of researching and developing new technology with which
 to conquer your enemies, from rocks and sticks to nuclear weapons and
 spaceships. You can advance through ten different ages, from the stone age to
 the future. There are 28 different maps to play through.
